@import url("home.css");
@import url("component.css");
@import url("project.css");
@import url("about.css");
@import url("responsive.css");

:root {
    --lightblue: #3092f8;
    --darkblue: #202d44;
    --background_dark: #191919;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0;
    background-color: var(--background_dark);
}

.text-important {
    font-weight: bold;
}